*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(197, 191, 172);
    font-family: sans-serif;
    outline: none;
}
.outside{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.con{
    height: 400px;
    background-color: rgb(204, 206, 94);
    padding: 15px 15px 15px 15px ;
    border-radius: 10px;
    display: grid ;
    grid-template-columns: repeat(4,100px);
    gap: 5px;
    background-color: rgb(1, 13, 2);
  
}
input{
    padding-inline: 5px;
    grid-column: span 4;
    font-size: 40px;
    justify-content: end;
    background-color: rgb(209, 217, 239);
    box-shadow: inset -50px -50px -50px rgb(81, 74, 170);
    border:none;
   border-radius: 10px;
   text-align: end;
   margin-bottom: 7px;

}
#zero{
    grid-column: span 2;
}
button{
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 2px 2px 2px blue;
}

